#banner {
	width: 100%;
}

.principal {
	background: #CCCCCC;
	padding: 20px
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic;
}

.beneficios {
	background: white;
	font-size: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 1%;
}

.imageBeneficios {
	width: 50%;
	align-self: center;
}
